.navigation{
    background: #010101;
    top:0%;
    position: fixed;
    left: 0%;
    width: 100%;
    z-index: 1000;
}
.site_title{
    color: white;
    font-size: 4rem;
    /* padding: 2rem 0 2rem 4rem; */
    margin: 4rem 0 0rem 2rem;
}
.navigation_checkbox{
    display: none;
}
.navigation_background_show{
    transform: scale(100) !important;
}
.navigation_nav_show{
    opacity: 100 !important;
    width: 100vw !important;
}
/* .navigation_checkbox:checked + label i#bars{
    display: none;
} */
/* and show the cross icon */
/* .navigation_checkbox:checked + label i#cross{
    display: block;
} */
.navigation_button{
    position: fixed;
 height: 4rem;
 width: 4rem;
 top: 1.5rem;
 /* left: 6rem; */
 /* background: radial-gradient(#898aeb , #4b4c92); */
 color: white;
 border-radius: 50%;
 z-index: 200;
}
.navigation_background{
height: 3rem;
width: 3rem;
border-radius: 50%;
position: fixed;
/* top:6.5rem; */
/* left: 6.5rem; */
z-index: 100;
background: radial-gradient(#898aeb , #4b4c92);
transition: transform .7s ease;
transform: scale(0);
}
.navigation_nav{
height: 100vh;
width: 0;
position: fixed;
top:0;
right: 0;
z-index: 150;
opacity: 0;
transition: opacity .9s;
}
.navigation_list{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50% );
list-style: none;
text-align: center;
}
.navigation_item{
    margin: .5rem;
}
.navigation_link{
    font-size: 3rem;
    font-weight: 300;

    text-decoration: none;
    text-transform: uppercase;
    color:#010101;
    background: linear-gradient(120deg, transparent 0%, transparent 50%, black 50%);
    background-size: 235%;
    transition: all .4s;
    
}
.navigation_link:hover{
    background-position:100%;
    color:#4b4c92;
}
    /*//// navigation end */
/* Slideshow container */
.slider-container {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .slide-one{
      background: #4b4c92 !important;
      min-height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .slide-heading{
      color: white;
      background-color: rgba(19, 20, 20, 0.726);
      padding: 5px 10px;
      
  }
  .arrows{
      display: flex;
      justify-content: space-around;
      /* position: absolute; */
      margin-top: -85px;
      z-index: 100000;
      color: white;
      font-size: 40px;
      position: relative;
  }
  .prev, .next{
      cursor: pointer;
  }
  .mySlides {
    -webkit-animation-name: toLeft;
    -webkit-animation-duration: 1s;
    animation-name: toLeft;
    animation-duration: .8s;
    }
  @keyframes toLeft{
      0% { transform: translateX(50%);}
      100% {transform: translateX(0px);}
    }
  
/* /Slider */
/* Counter */

.counter{
    background: #010101 ;
    padding: 1rem 1rem;
}
.count{
    color: white;
    border: 1px solid white;
    text-align: center;
}
.counter_row *{
    padding: 0 !important;
}
/* /Counter */
/* Servies */
.service-section{
    background: #f0f0f2;
    text-align: center;
    padding: 5rem 0;
    color:#010101
}
.services_icons{
    padding: 2rem 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.icon_service{
    width: 200px;
    padding: 50px;
    background: rgba(221, 60, 92, 0.377);
    text-align: center;
    color: white;
}
.icon_service:hover{
    background: rgba(53, 127, 196, 0.377);

}
/* /Services */
/* Latest Project  */
.poject_section{
    background: #010101;
    color:white;
    text-align: center;
    padding:2rem 0;
}
.poject_section ul li{
    display: inline;
    cursor: pointer;
}
.item{
    /* border:1px solid blue; */
    background: #999;
}
.item:hover{
    background: rgb(122, 166, 202);
}
.wrapper{
/* height: 660px; */
display:grid;
grid-column-gap: 20px;
grid-row-gap: 20px;
/* background-color: #eee; */
grid-template-columns: repeat(3 ,200px); 
grid-template-rows:repeat(4, 150px);
justify-content: center; 
align-content: center; 
}
@media screen and (max-width:786px){
    .wrapper{
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2 ,150px); 
        grid-template-rows:repeat(6, 150px);
    
        }
        .services_icons{
            margin-left:10%;
        }
        .count{
            margin-left: 7%;
        }
        footer{
            text-align: center;
        }
        .blog_slider_container{
            display: block;
            margin: o auto;
        }
        .service_content{
            padding:0 50px;
        }
}
/* /Latest Project  */
/* latest projects popup */
.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: #010101a9;
    z-index: 3000;
    visibility: hidden;
    opacity: 0;
}
.popup_show{
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 300000000;
}
.popup_inner{
    z-index: 0;
    top:50%;
    position: absolute;
    height: 80%;
    width: 80%;
    background: #f0f0f2;
    left: 50%;
    transform: translate(-50%,-50%);
}
.popup_close{
    float: right;
    color: black;
    z-index: inherit;
}

/* Blog section */
.blog_section{
    padding:1rem;
    background: #4b4c92;
    color: white;
    text-align: center;
}
.blog_text{
    padding:2rem 0;
}
.blog_card{
    background: #e0e0e0;
    padding: 6rem 0 1rem 0;
    border-radius: 1rem;
    text-align: center;
    color:#010101;
}
.blog_cards_container{
    margin-bottom: 50px;
}
/* /Blog section*/
/* footer */
footer{
    background: #010101;
    color:white;
}
.footer_sec{
    /* width:  300px; */
    padding: 1rem 4rem;
}
.copyright{
    background: #333;
    color:white;
    height: 40px;
    padding-top: 10px;
    margin-bottom: 0;
}